@import url("../../node_modules/@fullcalendar/core/main.css");
@import url("../../node_modules/@fullcalendar/daygrid/main.css");
@import url("../../node_modules/typicons.font/src/font/typicons.css");
@font-face {
  font-family: 'quicksand-light';
  src: url("../fonts/Quicksand/Quicksand-Light.ttf");
}

@font-face {
  font-family: 'quicksand-medium';
  src: url("../fonts/Quicksand/Quicksand-Medium.ttf");
}

@font-face {
  font-family: 'comfortaa-light';
  src: url("../fonts/Comfortaa/Comfortaa-Light.ttf");
}

li, a {
  font-family: 'comfortaa-light';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'quicksand-medium';
}

p, input[type=email], textarea {
  font-family: 'quicksand-light';
  line-height: 30px;
}

h1, h2, h3, h4, h5, h6, p {
  color: #7B7B7B;
}

.feather:before, .feather:after {
  content: "";
  background-image: url("../svg/feather.svg");
  width: 150px;
  height: 150px;
  position: absolute;
}

.feather:before {
  left: 10px;
}

.feather:after {
  right: 20px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.text-user {
  color: #150029;
}

header .navbar {
  position: absolute;
  z-index: 99;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.445);
}

section.banner {
  background: url(../images/backgroundbanner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ads-section .ads {
  width: 100%;
  height: 100%;
}

.ads-section .ads .owl-item {
  height: 300px;
}

section.content .about {
  background: url(../images/transparent-pigeon.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 767.98px) {
  section.content .about {
    height: 100vh;
  }
}

section.content .gallery .row .col-md-3:nth-child(odd) {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

section.content .gallery .row .col-md-3:nth-child(odd) img, section.content .gallery .row .col-md-3:nth-child(odd) .info {
  border-radius: 20px 0px 20px 0px;
  transform: rotateY(30deg);
  -webkit-transform: rotateY(30deg);
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.342);
          box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.342);
}

section.content .gallery .row .col-md-3:nth-child(even) {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

section.content .gallery .row .col-md-3:nth-child(even) img, section.content .gallery .row .col-md-3:nth-child(even) .info {
  border-radius: 20px 0px 20px 0px;
  transform: rotateY(-30deg);
  -webkit-transform: rotateY(-30deg);
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.342);
          box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.342);
}

section.content .gallery .row a {
  color: #17a2b8;
}

section.content .gallery .row a:hover {
  color: white;
  background: #17a2b8;
  cursor: pointer;
}

section.content .calendar .fc-event, section.content .calendar .fc-event-dot {
  background-color: #150029;
  padding: 10px;
}

section.content .calendar .fc-content {
  color: white;
}

section.content .feedback {
  background: #00DDFF;
}

section.content .feedback .w-custom-50 {
  width: 50%;
  border: 5px solid white;
  -webkit-box-shadow: 0px 0px 28px #00000073;
          box-shadow: 0px 0px 28px #00000073;
  background: url("../images/feedback.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767.98px) {
  section.content .feedback .w-custom-50 {
    width: 100%;
  }
}

section.content .feedback .w-custom-50 input[type=email], section.content .feedback .w-custom-50 textarea {
  border-radius: 60px;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.541);
}

section.content .feedback .w-custom-50 button {
  cursor: pointer;
  background: #00DDFF;
  border: 0px;
  border-radius: 100px;
}

section.content .feedback .w-custom-50 button:hover {
  -webkit-box-shadow: 0px 0px 20px 2px #00000053;
          box-shadow: 0px 0px 20px 2px #00000053;
}

.footer {
  background: #080705;
}

.footer .row {
  border-bottom: 1px solid;
}

.footer h3 {
  color: #00DDFF;
}

.footer .social-media {
  width: 30px;
}

.admin .nav-pills .nav-link.active, .admin .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #ffc107;
}

.admin a {
  color: #ffc107;
}

.user .nav-pills .nav-link.active, .user .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #150029;
}

.user a {
  color: #150029;
}
/*# sourceMappingURL=main.css.map */